<div class="container">
  <h1>
    <button mat-fab color="primary">
      <mat-icon>home</mat-icon>
    </button>
    Mortgage Calculator
  </h1>
  <h2>
    From
    <a href="https://www.canada.ca/en/financial-consumer-agency.html"
      >Financial Consumer Agency of Canada</a
    >
  </h2>
  <p>
    This calculator determines your mortgage payment and provides you with a
    mortgage payment schedule. The calculator also shows how much money and how
    many years you can save by making prepayments.
  </p>
  <p>
    To help determine whether or not you qualify for a home mortgage based on
    income and expenses, visit the
    <a href="https://itools-ioutils.fcac-acfc.gc.ca/MQ-HQ/MQ-EAPH-eng.aspx"
      >Mortgage Qualifier Tool.</a
    >
  </p>
  <p>
    <strong>Note: </strong> As of July 9, 2012, the maximum amortization period
    for mortgages with less than a 20 percent down payment is
    <strong>25 years.</strong>
  </p>
</div>
<div class="row container">
  <div class="col-md-6">
    <section class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">Payment Plan</h3>
      </header>
      <div class="panel-body panel-primary mrgn-tp-lg">
        <label>Mortgage Amount:</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input
            type="text"
            value="100,000.00"
            maxlength="20"
            class="form-control"
          />
        </div>
      </div>
      <div class="panel-body panel-primary mrgn-tp-lg">
        <label>Interest Rate:</label>
        <div class="input-group">
          <input type="text" value="5.00" maxlength="20" class="form-control" />
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class="panel-body panel-primary mrgn-tp-lg">
        <label>Amortization Period:</label>
        <div class="input-group">
          <mat-form-field appearance="outline">
            <mat-select [formControl]="yearControl">
              <mat-option value="option1">1 Year</mat-option>
              <mat-option value="option2">2 Years</mat-option>
              <mat-option value="option3">3 Years</mat-option>
              <mat-option value="option4">4 Years</mat-option>
              <mat-option value="option5">5 Years</mat-option>
              <mat-option value="option6">6 Years</mat-option>
              <mat-option value="option7">7 Years</mat-option>
              <mat-option value="option8">8 Years</mat-option>
              <mat-option value="option9">9 Years</mat-option>
              <mat-option value="option10">10 Years</mat-option>
              <mat-option value="option11">11 Years</mat-option>
              <mat-option value="option12">12 Years</mat-option>
              <mat-option value="option13">13 Years</mat-option>
              <mat-option value="option14">14 Years</mat-option>
              <mat-option value="option15">15 Years</mat-option>
              <mat-option value="option16">16 Years</mat-option>
              <mat-option value="option17">17 Years</mat-option>
              <mat-option value="option18">18 Years</mat-option>
              <mat-option value="option19">19 Years</mat-option>
              <mat-option value="option20">20 Years</mat-option>
              <mat-option value="option21">21 Years</mat-option>
              <mat-option value="option22">22 Years</mat-option>
              <mat-option value="option23">23 Years</mat-option>
              <mat-option value="option24">24 Years</mat-option>
              <mat-option value="option25">25 Years</mat-option>
              <mat-option value="option26">26 Years</mat-option>
              <mat-option value="option27">27 Years</mat-option>
              <mat-option value="option28">28 Years</mat-option>
              <mat-option value="option29">29 Years</mat-option>
              <mat-option value="option30">30 Years</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option value="option"></mat-option>
              <mat-option value="option1">1 Month</mat-option>
              <mat-option value="option2">2 Months</mat-option>
              <mat-option value="option3">3 Months</mat-option>
              <mat-option value="option4">4 Months</mat-option>
              <mat-option value="option5">5 Months</mat-option>
              <mat-option value="option6">6 Months</mat-option>
              <mat-option value="option7">7 Months</mat-option>
              <mat-option value="option8">8 Months</mat-option>
              <mat-option value="option9">9 Months</mat-option>
              <mat-option value="option10">10 Months</mat-option>
              <mat-option value="option11">11 Months</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="panel-body panel-primary mrgn-tp-lg">
        <label>Payment Frequency:</label>
        <mat-form-field appearance="outline">
          <mat-select [formControl]="paymentControl">
            <mat-option value="option"></mat-option>
            <mat-option value="option1">Accecelerated Weekly</mat-option>
            <mat-option value="option2">Weekly</mat-option>
            <mat-option value="option3">Accecelerated Bi- Weekly</mat-option>
            <mat-option value="option4">Bi-Weekly(every 2 weeks)</mat-option>
            <mat-option value="option5">semi-monthly (24x per Year)</mat-option>
            <mat-option value="option6">monthly (12x per Year)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="panel-body panel-primary mrgn-tp-lg">
        <label>Term:</label>
        <mat-form-field appearance="outline">
          <mat-select [formControl]="termControl">
            <mat-option value="option1">1 Year</mat-option>
            <mat-option value="option2">2 Years</mat-option>
            <mat-option value="option3">3 Years</mat-option>
            <mat-option value="option4">4 Years</mat-option>
            <mat-option value="option5">5 Years</mat-option>
            <mat-option value="option6">6 Years</mat-option>
            <mat-option value="option7">7 Years</mat-option>
            <mat-option value="option8">8 Years</mat-option>
            <mat-option value="option9">9 Years</mat-option>
            <mat-option value="option10">10 Years</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>
    <div></div>
  </div>
  <div class="col-md-6">
    <section class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">Prepayment Plan</h3>
      </header>
      <div class="panel-body panel-primary mrgn-tp-lg">
        <label><strong>Prepayment Amount:</strong></label>
        <div class="input-group panel-primary">
          <span class="input-group-addon">$</span>
          <input type="text" value="0.00" maxlength="20" class="form-control" />
        </div>
        <div class="panel-body panel-primary mrgn-tp-lg">
          <label>Prepayment Frequency:</label>
          <mat-form-field appearance="outline">
            <mat-select [formControl]="frequencyControl">
              <mat-option value="option1">One time</mat-option>
              <mat-option value="option2">Each year</mat-option>
              <mat-option value="option3">same as regular Payment</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="panel-body panel-primary mrgn-tp-lg">
          <label><strong>Start With Payment:</strong></label>
          <div class="input-group">
            <input type="text" value="1" maxlength="20" class="form-control" />
          </div>
        </div>
      </div>
    </section>
    <div></div>
  </div>
</div>
<div class="submit">
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
<br />
<div class="footer">
  <h1>Rate This Tool</h1>
  <p>
    We want to hear from you!
    <a
      href="https://fcac-acfc.survey-sondage.ca/f/s.aspx?s=96ddfe9f-0c4a-4623-8a42-bdb29567e6cb"
      >Please tell us what you think of this tool and how we can make it
      better.</a
    >
  </p>
  <p>
    We offer this mortgage calculator as a self-help tool for your use. This
    tool does not replace professional financial advice. We cannot guarantee
    that this calculator will apply or be accurate in your situation. For
    example, your mortgage lender may make its calculations in a different way.
    All calculations are examples only.
  </p>
</div>
<router-outlet></router-outlet>
